/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* TYPO */
body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
li{
    font-size: 10px;
}
/* BUTTONS */
.btn{
    background-color: blue;
    border: none;
    padding: 5px;
    color: #fff;
    font-size: 10px;
}
.btn-hero{
    margin: 20px 0;
}
.btn-partner{
    background-color: #fff;
    border: #d0d0d3 solid;
    color: black;
    margin-top: 20%;
}

/* HEADER */
header{
    background-color: #fff;
    width: 100%;
    height: 20%;
    display:flex;  
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
}
.contant-row{
    justify-content: space-between;
    display:flex;
    width: 100%; 
    margin: 0;
} 
.contant-row ul{
    display: flex;
    align-items: center;
}
.header-left, .header-right{
    width: 40%;
}
li{
    list-style: none;
    width: 100%;
    text-align: center;
}
/* MAIN */
main{

}
/* HERO */
.hero{
    background-color: #b4d0e7;
    width: 100%;
}
.contenitore-titolo-hero{
    margin:auto;
    width: 60%;
    font-size: 250%;
    padding: 5% 0;
}
.testo-immagine-hero{
   display:flex;
   margin:auto;
   width: 60%;
}
.testo-hero{
    width: 40%;
    padding-right: 5%;
    font-size: 65%;
}
.immagine-hero{
    width: 60%;
}
img{
    width: 100%;
}
.arrow-down i{
    padding-top: 20%;
    font-size: 300%;
}
/* PIANO-BUSINESS */
.piano-business{
    margin: auto;
    width: 50%;
    padding-top: 10% ;
}
.titolo-piano-business{
   padding: 5% 0;
   font-size: 200%;
}
.input{
    display: flex;
}
.input-f-mensile, .input-f-annuale{
    padding-right: 5%;
    padding-bottom:10%;
    font-size: 80%;
}
.business-pack{
    display: flex;
    justify-content: space-between;
}
.single-pack, .team-pack, .azienda-pack{
    width: 30%;
    border: #d0d0d3 solid;
}
.business-pack .icona{
    font-size: 60%;
    border-bottom: #d0d0d3 solid;
    text-align: center;
    align-items: center;
    padding: 5%;
}
.caratteristiche{
    padding: 20% 10%;
}
.cosa-comprende-1{
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
}
.numero-utenti{
    padding-right: 30%;
}
/* PARTNERs DROPBOX */
.partners{
    display: flex;
    width: 50%;
    margin: auto;
    padding: 10% 0 ;
}
.testo-partner{
    width: 40%;
    padding: 5%;
    font-size: 80%;
}
.img-partner{
    width: 60%;
}

/* OPERAZIONI */
.titolo-operazioni{
    font-size: 150%;
    margin:auto;
    width: 50%;
}
.contenitore-operazioni{
    display: flex;
    margin:auto;
    width: 50%;
    flex-wrap: wrap;
}
.tipo-operazione{
    width: 30%;
    padding:4%;
    font-size: 70%;
}
/* CLIENTI */
.titolo-clienti{
    font-size: 150%;
    margin:auto;
    width: 50%;
    padding: 5% 0;
}
/* FAQ */
.titolo-faq{
    font-size: 150%;
    margin:auto;
    width: 50%;
    padding: 5% 0;
}
.contenitore-domande{
    margin: auto;
    width: 50%;
}






