/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */
.flex{
    display: flex;
}
.contenitore-titolo{
    margin:auto;
    width: 50%;
}
.titolo{
    padding: 5% 0;
    font-size: 200%;
}
.titolo-small{
    padding-bottom: 5%;
    font-size: 20px;
}
.w-100{
    width: 100%;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-40{
    width:40%
}
img{
    width: 100%;
}
hr{
    width: 30%;
    border-top: solid #d0d0d3;
    margin: 10% 0;
}
a, .fa-check{
    color: blue;
}
.bottom{
    margin-bottom: 20%;
}
.p-10{
    padding-top:10%
}

/* TYPO */
body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    font-size:16px
}
li{
    list-style: none;
}
/* BUTTONS */
.btn{
    background-color: blue;
    border: none;
    padding: 5%;
    color: #fff;
    font-size: 12px;
}
.btn-hero{
    margin: 20px 0;
}
.btn-partner{
    background-color: #fff;
    border: #d0d0d3 solid;
    color: black;
    margin-top: 20%;
}
.btn-businesspack{
    width:100%; 
    padding: 5%;
    margin-bottom: 10%;
}
.btn-nuovi-clienti{
    background-color: #fff;
    color: black;
    width: 150%;
}

/* HEADER */
header{
    background-color: #fff;
    height: 20%;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
    z-index: 10;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
}
.container-row{
    justify-content: space-between;
    margin: 0;
    align-items: center;
} 
.ul-header{
    align-items: center;
}
.li-header{
    font-size: 14px;
    text-align: center;
}

/* HERO */
.hero{
    background-color: #b4d0e7;
}
.contenitore-titolo-hero{
    margin:auto;
    padding: 5% 0;
    font-size: 250%;
}
.testo-immagine-hero{
   margin:auto;
   position: relative;
   bottom:-80%;
}
.testo-hero{
    padding-right: 5%;
}
.arrow-down i{
    padding-top: 20%;
    font-size: 300%;
}

/* PIANO-BUSINESS */
.piano-business{
    margin: auto;
}
.input{
    padding-bottom:10%;
    font-size: 80%;
}
.fatturazione-mensile, .fatturazione-annuale{
    padding-right: 5%;
}
.stessa-linea{
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-pack, .team-pack, .azienda-pack{
    width: 30%;
    border: #d0d0d3 solid;
}
.business-pack .icona{
    font-size: 80%;
    border-bottom: #d0d0d3 solid;
    text-align: center;
    align-items: center;
    padding: 2%;
}
.caratteristiche{
    padding: 20% 10%;
}
.cosa-comprende {
    padding: 10% 5%;
}
.li-business{
    padding-bottom: 15%;
}
.link{
    padding:20% 0;
}
i{
    padding-right:5%;
}
.small{
    padding: 20% 5%;
}
.business-bottom{
    border: #d0d0d3 solid;
    margin:auto;
    margin-top: 20%;
}
.c-business-bottom{
    justify-content: space-between ;
    padding: 5%;
}

/* PARTNERS */
.partners{
    margin: auto;
}
.testo-partner{
    padding: 5%;
}

/* OPERAZIONI */
.contenitore-operazioni{
    margin:auto;
    flex-wrap: wrap;
}
.tipo-operazione{
    width: 30%;
    padding:4%;
    font-size: 16px;
}

/* CLIENTI */
.pad-bot{
    padding-bottom: 10%;
}
.colonna-clienti{
    width: calc(100%/3);
    overflow-y: auto;
    flex-wrap: wrap;
}
.logo{
    width: 50%;
    height: 50%;
    align-items: center;
}
.design-it{
    background-color: #a2d39b;
    padding: 15% 10%;
}
.arizona{
    background-color: #61082b; 
    padding:10%
}
.florida{
    background-color: #0093ce; 
    padding: 15% 10%;
}
.topps{
    background-color: #ff1c1c; 
    padding: 15%;
}
.img-clienti{
    filter: invert(1);
}
.centrale{
    background-color: #f5f5f5; 
}
.img-centrale{
    padding: 5% 
}
.testo-centrale{
    margin: 5%;
}
.world{
    background-color:#d5001f;
    padding: 16%;
}
.hearts{
    background-color: #b4d0e7;
    padding: 17% 5%;
}
.lonely-planet{
    background-color: #0d2481;
    padding: 16%;
}
.clear{
    background-color: #ffd830;
    padding: 11%;
}

/* NUOVI CLIENTI */
.nuovi-clienti{
    background-color: #b4d0e7;
    justify-content: center;
}
.tit-nuovi-clienti{
    color:#61082b;
    margin-left: 50%;
}
.contenitore-btn{
    margin-right: 10%;
    padding: 10% 15%;
}
/* FAQ */
.contenitore-domande{
    margin: auto;
}
.domanda{
    justify-content: space-between;
    padding: 5% 0;
    border-bottom: solid black;
}

/* FOOTER */
footer{
    color: white;
    background-color: black;
    margin:10% 0;
    padding: 10% 5%;
}
.colonna-footer{
    margin:5%;
}
.li-footer{
    margin-top:10%;
    font-size:80%;
}
.hr-footer{
margin-bottom: 5%;
}
.lingua{
    align-items: center;
    font-style: gray;
}









