/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* COMMON */
img{
    width: 100%;
}
.contenitore-titolo{
    margin:auto;
    width: 50%;
}
.titolo{
    padding: 5% 0;
    font-size: 150%;
}
li{
    list-style: none;
}
/* TYPO */
body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.li-header{
    font-size: 10px;
}



/* BUTTONS */
.btn{
    background-color: blue;
    border: none;
    padding: 5px;
    color: #fff;
    font-size: 10px;
}
.btn-hero{
    margin: 20px 0;
}
.btn-partner{
    background-color: #fff;
    border: #d0d0d3 solid;
    color: black;
    margin-top: 20%;
}
.btn-businesspack{
    padding: 5%;
    margin: 10%;
}
.btn-nuovi-clienti{
    background-color: #fff;
    color: black;
    width: 150%;
}
/* HEADER */
header{
    background-color: #fff;
    width: 100%;
    height: 20%;
    display:flex;  
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 10;
}
.contant-row{
    justify-content: space-between;
    display:flex;
    width: 100%; 
    margin: 0;
} 
.ul-header{
    display: flex;
    align-items: center;
}
.header-left, .header-right{
    width: 40%;
}
.li-header{
    list-style: none;
    width: 100%;
    text-align: center;
}
/* HERO */
.hero{
    background-color: #b4d0e7;
    width: 100%;
}
.contenitore-titolo-hero{
    margin:auto;
    width: 60%;
    padding: 5% 0;
    font-size: 250%;
}
.testo-immagine-hero{
   display:flex;
   margin:auto;
   width: 60%;
   position: relative;
   bottom:-80%;
}
.testo-hero{
    width: 40%;
    padding-right: 5%;
    font-size: 65%;
}
.immagine-hero{
    width: 60%;
}

.arrow-down i{
    padding-top: 20%;
    font-size: 300%;
}
/* PIANO-BUSINESS */
.piano-business{
    margin: auto;
    width: 50%;
    padding-top: 10% ;
}
.input{
    display: flex;
}
.input-f-mensile, .input-f-annuale{
    padding-right: 5%;
    padding-bottom:10%;
    font-size: 80%;
}
.stessa-linea{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-pack, .team-pack, .azienda-pack{
    width: 30%;
    border: #d0d0d3 solid;
}
.business-pack .icona{
    font-size: 60%;
    border-bottom: #d0d0d3 solid;
    text-align: center;
    align-items: center;
    padding: 5%;
}
.caratteristiche{
    padding: 20% 10%;
}
.cosa-comprende {
    padding: 5%;
    font-size: 12px;
}
.ul-business{
    padding: 5%;
}
.li-business{
    display:flex;
}
i{
    padding-right: 3%;
}
.titolo-piccolo{
    padding: 10%;
}
.ultima-colonna{
   border: #d0d0d3 solid;
   margin:auto;
   width: 100%;
   margin-top: 20%;

}
.caratt-ultimo{
    display: flex;
    justify-content: space-between ;
}
.i-team{
    font-size: 60%;
    border-bottom: #d0d0d3 solid;
    text-align: center;
    align-items: center;
}

    
/* PARTNERS */
.partners{
    display: flex;
    width: 50%;
    margin: auto;
    padding: 10% 0 ;
}
.testo-partner{
    width: 40%;
    padding: 5%;
    font-size: 80%;
}
.img-partner{
    width: 60%;
}

/* OPERAZIONI */
.titolo-operazioni{
    margin:auto;
    width: 50%;
}
.contenitore-operazioni{
    display: flex;
    margin:auto;
    width: 50%;
    flex-wrap: wrap;
}
.tipo-operazione{
    width: 30%;
    padding:4%;
    font-size: 70%;
}
/* CLIENTI */
.lista-clienti{
display:flex;
}
.colonna-clienti{
    width: calc(100%/3);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 50%;
    height: 50%;
}
.design-it{
    background-color: #a2d39b;
    padding: 18%;
}
.arizona{
    background-color: #61082b; 
    padding: 8.8% 10%;

}
.florida{
    background-color: #0093ce; 
    padding: 16.7% 10%;
}
.topps{
    background-color: #ff1c1c; 
    padding: 15%;
}
.img-clienti{
  filter: brightness(0) invert(1);
}
.centrale{
    background-color: #f5f5f5; 
    font-size: 60%;
}
.img-centrale{
    width: 60%;
    padding: 5% 
}
.testo-centrale{
    margin: 5%;
    display: inline-block;
    padding-bottom: 7.6%;
}
.world{
    background-color:#d5001f;
    padding: 16%;
}
.hearts{
    background-color: #b4d0e7;
    padding: 17%;
}
.lonely-planet{
    background-color: #0d2481;
    padding: 16%;
}
.clear{
    background-color: #ffd830;
    padding: 11%;
}
/* NUOVI CLIENTI */
.nuovi-clienti{
    background-color: #b4d0e7;
    width:100%;
    display: flex;
    justify-content: center;
}
.tit-nuovi-clienti{
  color:#61082b;
  margin-left: 50%;
}
.contenitore-btn{
    margin-right: 10%;
    padding: 10% 15%;
}
/* FAQ */
.contenitore-domande{
    margin: auto;
    width: 50%;
}
.domanda{
    padding: 5%;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
}
.nav-footer{
    display: flex;
    margin-top: 20%;
    padding: 10% 5%;
}
.colonna-footer{
    margin:5%;
}
.li-footer{
    margin-top:10%;
    font-size:70%;

}
.lingua{
    display: flex;
    font-style: gray;
    align-items: center;
}









